<h1 clasa = "add-friuts">Add ingredient to <%=@recipe.name %> </h1>
 <%# # Showing error messages for failures with flash %> 
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= render "form", recipefood: @recipefood %>

<br>

<div>
  <%= link_to "Back to recipefoods", recipe_path(@recipe.id) %>
</div>
