<p style="color: green"><%= notice %></p>

<%= render @recipefood %>

<div>

  <%= link_to "Back to recipefoods", recipe_path(@recipe) %>

  <%= button_to "Destroy this recipefood", @recipefood, method: :delete %>
</div>
